---
layout: default
title: "潘学文：Steven Pan's Blog~"
---
<ul>
{% for post in paginator.posts %} 
    <li><span>{{ post.date | date_to_string }}</span>&raquo;<a href="{{ post.url }}">{{ post.title }}</a></li>
{% endfor %} 
</ul> 
<div class="pager">
    {% if paginator.previous_page %} {% if paginator.previous_page == 1 %} 
   <a href="{{ site.url }}/">上页</a> {% else %} 
   <a href="{{ site.url }}/page{{ paginator.previous_page }}">上页</a> {% endif %} {% else %} 
   <span class="previous"></span> {% endif %} 
   <span class="page_number ">当前: {{ paginator.page }} / {{ paginator.total_pages }}</span> {% if paginator.next_page %} 
   <a href="{{ site.url }}/page{{ paginator.next_page }}">下页</a> {% else %} 
   <span class="next"></span> {% endif %} 
</div>