  <!-- UY BEGIN -->
<!--  <div id="uyan_frame">
  </div>-->
 <!-- <script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=1511840">
  </script> -->
  <!-- UY END -->
<!-- JiaThis Button BEGIN -->
<div class="jiathis_style_32x32">
<a class="jiathis_button_qzone"></a>
<a class="jiathis_button_tsina"></a>
<a class="jiathis_button_renren"></a>
<a class="jiathis_button_print"></a>
<a class="jiathis_button_fb"></a>
<a class="jiathis_button_googleplus"></a>
<a class="jiathis_button_linkedin"></a>
<a class="jiathis_button_pinterest"></a>
<a class="jiathis_button_pdfonline"></a>
<a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jiathis_separator jtico jtico_jiathis" target="_blank"></a>
<a class="jiathis_counter_style"></a>
</div>
<script type="text/javascript" >
var jiathis_config={
  summary:"",
  shortUrl:false,
  hideMore:false
}
</script>
<script type="text/javascript" src="http://v3.jiathis.com/code/jia.js" charset="utf-8"></script>
<!-- JiaThis Button END -->

  
  <!-- UY BEGIN wdyggh's id -->  
  <!-- <div id="uyan_frame"></div> -->
  <!--script type="text/javascript" src="http://v2.uyan.cc/code/uyan.js?uid=2007350"></script-->
  <!-- UY END -->

  <div id="disqus_thread"></div>
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = 'httpwdygghgithubioindexhtml';
    
    /* * * DON'T EDIT BELOW THIS LINE * * */
    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
