          <div class="sidebar-module">
            <h4>Categories</h4>
            <ol class="list-unstyled">
		{% for category in site.categories %}
		<li> <a href="/categories.html#{{ category[0] }}">{{ category[0] }}</a> </li> 
		{% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Me</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/winfirm">GitHub</a></li>
              <li><a href="http://my.oschina.net/winfirm/">OsChina空间</a></li>
              <li><a href="http://blog.chinaunix.net/uid/22985736.html">ChinaUnix博客</a></li>
              <li><a href="http://www.douban.com/people/38430153/">豆瓣</a></li>
              <li><a href="http://t.qq.com/allthelucky">腾讯微博</a></li>
            </ol>
          </div>
