          <div class="sidebar-module">
            <h4>Categories</h4>
            <ol class="list-unstyled">
			{% for category in site.categories %}
				<li> <a href="/categories.html#{{ category[0] }}">{{ category[0] }}</a> </li> 
			{% endfor %}
            </ol>
          </div>
          <div class="sidebar-module">
            <h4>Links</h4>
            <ol class="list-unstyled">
              <li><a href="https://github.com/panxuewen">GitHub</a></li>
              <li><a href=" http://blog.chinaunix.net/uid/22985736.html">Cublog</a></li>
			  <li><a href="http://t.qq.com/allthelucky">Tblog</a></li>
			  <li><a href="http://www.google.com/">Google</a></li>
            </ol>
          </div>
