<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//WAPFORUM//DTD XHTML Mobile 1.0//EN" "http://www.wapforum.org/DTD/xhtml-mobile10.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.tags }} {{ page.title }} " />
    <meta name="author" content="Steven Pan" />
    <meta name="copyright" content="allthelucky.com" />
    <link rel="stylesheet" href="/css/foundation.css" />
    <script src="/js/js.js"></script>
  </head>
<body>

  <!-- Nav Bar -->
  <div class="row">
    <div class="large-12 columns">
      <div class="nav-bar right">
       <ul class="button-group">
		 <li><a href="/" class="button">Home</a></li>
		 <li><a href="/tags.html" class="button">Tags</a></li>
		 <li><a href="https://github.com/allthelucky/allthelucky.github.com" class="button">Fork</a></li>
        </ul>
      </div>
      <h1>Steven.Pan <small>This is my blog...</small></h1>
      <hr />
    </div>
  </div>
  <!-- End Nav -->
 
  <!-- Main Page Content and Sidebar -->
  <div class="row">
  
    <!-- Main Blog Content -->
    <div class="large-9 columns" role="content">
 {{ content }}
    </div>
    <!-- End Main Content -->
	
    <!-- Sidebar -->
    <aside class="large-3 columns">
       <div class="panel">
        <h3>My Links</h3>
		<ul>
		<li><a href="https://github.com/allthelucky">Github</a></li>
		<li><a href="http://resume.github.io/?allthelucky">Resume</a></li>
		<li><a href="http://book.douban.com/people/38430153/">Reading</a></li>
		<li><a href="http://blog.chinaunix.net/uid/22985736.html">Cublog</a></li>
		<li><a href="http://www.google.com/">Google</a></li>
		</ul>
      </div>
	  <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<!-- blogadd -->
<ins class="adsbygoogle"
     style="display:inline-block;width:200px;height:200px"
     data-ad-client="ca-pub-3557776493079475"
     data-ad-slot="2741314005"></ins>
<script>
(adsbygoogle = window.adsbygoogle || []).push({});
</script>
	  <div style="margin-top:10px"></div>
    </aside>
    <!-- End Sidebar -->
	
  </div>
  <!-- End Main Content and Sidebar -->
 
  <!-- Footer -->
  <footer class="row">
    <div class="large-12 columns">
      <hr />
      <div class="row">
        <div class="large-6 columns">
          <p>©<a href="/">www allthelucky.com</a>, <a href="/atom.xml" >rss</a></p>
        </div>
      </div>
    </div>
  </footer>
  <!-- End Footer -->
</body>
</html>
